
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Xuly</title>
</head>
<body>
    <div>
        <h2>Nhập thông tin sinh viên</h2>
        <!--Sử dụng form này cho các Action Xuly1, XuLy2, Xuly3, Xuly4 -->
        <form action="/Home/Xuly4" method="post">
            <p>ID: <input name="id" /></p>
            <p>Name: <input name="name" /></p>
            <p>Marks: <input name="marks" /></p>
            <input type="submit" value="Submit" />
        </form>
    </div>
</body>
</html>
