
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Xuly2</title>
</head>
<body>
    <div>
        <h2>Thông tin sinh viên</h2>
        <p>ID: @ViewBag.id</p>
        <p>Name: @ViewBag.name</p>
        <p>Marks: @ViewBag.marks</p>
    </div>
</body>
</html>
