
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h2>Upload File</h2>
        <form action="/upload_file/Upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file" />
            <br /><br />
            <input type="submit" value="Upload" />
        </form>
        <p>@ViewBag.Message</p>
    </div>
</body>
</html>
